## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [3]:
# Your code here

sample_list_1 = random.sample(list(range(0, 100)), 80)
print(sample_list_1)

[59, 31, 24, 72, 15, 34, 75, 38, 95, 43, 53, 73, 27, 60, 41, 8, 89, 13, 77, 90, 0, 11, 25, 4, 98, 10, 50, 6, 12, 97, 51, 81, 2, 35, 47, 74, 9, 29, 46, 96, 62, 94, 79, 20, 54, 65, 45, 91, 78, 26, 30, 68, 33, 55, 88, 17, 85, 93, 3, 70, 99, 57, 16, 87, 67, 44, 5, 36, 80, 58, 40, 48, 84, 19, 42, 28, 14, 7, 71, 39]

In [5]:
import collections

veces = collections.Counter(sample_list_1)
print(veces)

Counter({59: 1, 31: 1, 24: 1, 72: 1, 15: 1, 34: 1, 75: 1, 38: 1, 95: 1, 43: 1, 53: 1, 73: 1, 27: 1, 60: 1, 41: 1, 8: 1, 89: 1, 13: 1, 77: 1, 90: 1, 0: 1, 11: 1, 25: 1, 4: 1, 98: 1, 10: 1, 50: 1, 6: 1, 12: 1, 97: 1, 51: 1, 81: 1, 2: 1, 35: 1, 47: 1, 74: 1, 9: 1, 29: 1, 46: 1, 96: 1, 62: 1, 94: 1, 79: 1, 20: 1, 54: 1, 65: 1, 45: 1, 91: 1, 78: 1, 26: 1, 30: 1, 68: 1, 33: 1, 55: 1, 88: 1, 17: 1, 85: 1, 93: 1, 3: 1, 70: 1, 99: 1, 57: 1, 16: 1, 87: 1, 67: 1, 44: 1, 5: 1, 36: 1, 80: 1, 58: 1, 40: 1, 48: 1, 84: 1, 19: 1, 42: 1, 28: 1, 14: 1, 7: 1, 71: 1, 39: 1})

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [6]:
# Your code here

set1 = set(sample_list_1)
print(len(set1))

80

In [7]:
print(set1)

{0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 19, 20, 24, 25, 26, 27, 28, 29, 30, 31, 33, 34, 35, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 50, 51, 53, 54, 55, 57, 58, 59, 60, 62, 65, 67, 68, 70, 71, 72, 73, 74, 75, 77, 78, 79, 80, 81, 84, 85, 87, 88, 89, 90, 91, 93, 94, 95, 96, 97, 98, 99}

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [8]:
# Your code here
sample_list_2 = [random.randint(0,100) for a in range(80)]
print(sample_list_2)

[36, 59, 21, 22, 65, 22, 61, 1, 29, 78, 10, 90, 22, 48, 82, 7, 55, 0, 7, 89, 77, 87, 99, 3, 77, 52, 27, 28, 81, 71, 27, 53, 13, 17, 45, 63, 33, 1, 5, 34, 35, 79, 31, 50, 49, 22, 35, 71, 99, 9, 75, 35, 36, 1, 91, 66, 28, 47, 84, 28, 68, 84, 94, 32, 56, 75, 94, 77, 12, 84, 98, 60, 89, 21, 29, 78, 56, 13, 85, 70]

In [9]:
import collections

veces = collections.Counter(sample_list_2)
print(veces)

Counter({22: 4, 1: 3, 77: 3, 28: 3, 35: 3, 84: 3, 36: 2, 21: 2, 29: 2, 78: 2, 7: 2, 89: 2, 99: 2, 27: 2, 71: 2, 13: 2, 75: 2, 94: 2, 56: 2, 59: 1, 65: 1, 61: 1, 10: 1, 90: 1, 48: 1, 82: 1, 55: 1, 0: 1, 87: 1, 3: 1, 52: 1, 81: 1, 53: 1, 17: 1, 45: 1, 63: 1, 33: 1, 5: 1, 34: 1, 79: 1, 31: 1, 50: 1, 49: 1, 9: 1, 91: 1, 66: 1, 47: 1, 68: 1, 32: 1, 12: 1, 98: 1, 60: 1, 85: 1, 70: 1})

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [10]:
# Your code here
set2 = set(sample_list_2)
print(len(set2))
# Los sets solo arrojan valores únicos y de forma ordenada

54

In [11]:
print(set2)

{0, 1, 3, 5, 7, 9, 10, 12, 13, 17, 21, 22, 27, 28, 29, 31, 32, 33, 34, 35, 36, 45, 47, 48, 49, 50, 52, 53, 55, 56, 59, 60, 61, 63, 65, 66, 68, 70, 71, 75, 77, 78, 79, 81, 82, 84, 85, 87, 89, 90, 91, 94, 98, 99}

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [12]:
# Your code here
set3= set1-set2
print(set3)

{2, 4, 6, 8, 11, 14, 15, 16, 19, 20, 24, 25, 26, 30, 38, 39, 40, 41, 42, 43, 44, 46, 51, 54, 57, 58, 62, 67, 72, 73, 74, 80, 88, 93, 95, 96, 97}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [13]:
# Your code here
set4=set2-set1
set4

{1, 21, 22, 32, 49, 52, 56, 61, 63, 66, 82}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [14]:
# Your code here
set5 = set1.intersection(set2)
print(set5)

{0, 3, 5, 7, 9, 10, 12, 13, 17, 27, 28, 29, 31, 33, 34, 35, 36, 45, 47, 48, 50, 53, 55, 59, 60, 65, 68, 70, 71, 75, 77, 78, 79, 81, 84, 85, 87, 89, 90, 91, 94, 98, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [17]:
# Your code here
If set3 == set1-set2
    print("Set 3 es la diferencia entre set1 y set 2")
    
If set4 == set2-set1
    print("Set 4 es la diferencia entre set2 y set 1")
    
If set5 == set1.intersection(set2)
    print("Set 5 es la intersección entre set2 y set 1")

SyntaxError: invalid syntax (<ipython-input-17-5bf373b12139>, line 2)

#### Create an empty set called `set6`.

In [23]:
# Your code here
set6 = set()
print(set6)

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [24]:
# Your code here

set6.update(set3,set5)
print(set6)

{0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 19, 20, 24, 25, 26, 27, 28, 29, 30, 31, 33, 34, 35, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 50, 51, 53, 54, 55, 57, 58, 59, 60, 62, 65, 67, 68, 70, 71, 72, 73, 74, 75, 77, 78, 79, 80, 81, 84, 85, 87, 88, 89, 90, 91, 93, 94, 95, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [25]:
# Your code here
set1 == set6

False

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [26]:
# Your code here
print(set2.issubset(set1))
print(set3.issubset(set1))

False
False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [20]:
# Your code here
set3.union(set4,set5)
print(set3)

set1.union(set2)
print(set1)

set3 == set1

{2, 4, 6, 8, 11, 14, 15, 16, 19, 20, 24, 25, 26, 30, 38, 39, 40, 41, 42, 43, 44, 46, 51, 54, 57, 58, 62, 67, 72, 73, 74, 80, 88, 93, 95, 96, 97}
{2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 20, 24, 25, 26, 27, 28, 30, 33, 34, 35, 36, 38, 40, 42, 43, 44, 45, 46, 47, 48, 50, 53, 54, 55, 57, 58, 60, 62, 65, 67, 68, 70, 72, 73, 74, 75, 77, 78, 80, 84, 85, 87, 88, 90, 93, 94, 95, 96, 97, 98}

False

#### Using the `pop` method, remove the first element from `set1`.

In [19]:
# Your code here
set_en_lista = list(set1)
set_en_lista.pop(0)
set1 = set(set_en_lista)
print(set1)

{2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 20, 24, 25, 26, 27, 28, 30, 33, 34, 35, 36, 38, 40, 42, 43, 44, 45, 46, 47, 48, 50, 53, 54, 55, 57, 58, 60, 62, 65, 67, 68, 70, 72, 73, 74, 75, 77, 78, 80, 84, 85, 87, 88, 90, 93, 94, 95, 96, 97, 98}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [18]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
list_to_remove =  set(list_to_remove)
set1= set1-list_to_remove
print(set1)

{0, 2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 20, 24, 25, 26, 27, 28, 30, 33, 34, 35, 36, 38, 40, 42, 43, 44, 45, 46, 47, 48, 50, 53, 54, 55, 57, 58, 60, 62, 65, 67, 68, 70, 72, 73, 74, 75, 77, 78, 80, 84, 85, 87, 88, 90, 93, 94, 95, 96, 97, 98}